@use './variables' as v;

#resetPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0 120px;
    gap: 40px;
    form{
        width: 416px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 48px;
        gap: 32px;

        // width: 416px;
        background: v.$white;
        border-radius: 16px;
        .inputs{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            width: 320px;

            .error{
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 8px;
                gap: 8px;
                width: 100%;
                background: v.$bg_gey;
                border: 1px solid #949494;
                border-radius: 8px;
                i{
                    width: 24px;
                    height: 24px;
                    content: url('../assets/svg/error.svg');
                }
                .error-text{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: v.$main_black;
                    opacity: 0.7;
                }
            }
        }
        .qa-action{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            gap: 24px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            width: 100%;
            color: rgba($color: v.$main_black, $alpha: .5);
            span{
                cursor: context-menu;
            }
            .action{
                font-weight: 600;
                color: v.$main_black;
            }
        }
    }
}